{{- $content := .Inner -}}
{{- $lines := split (trim $content " \n") "\n" -}}

<div class="songpro-example">
    {{- range $lines -}}
        {{- $line := . -}}
        {{- if or  (hasPrefix $line "@") (hasPrefix $line "!") -}}
            <div class="songpro-attribute">{{ $line }}</div>
        {{- else if hasPrefix $line "# " -}}
            <div class="songpro-special">{{ $line }}</div>
        {{- else -}}
                <div class="songpro-line">{{ $line | replaceRE "\\[([^]]+)\\]" "<span class=\"songpro-chord\">[$1]</span>" | safeHTML }}&nbsp;</div>
        {{- end -}}
    {{- end -}}
</div>
